.rspec
.sass-cache
**.orig
*.rbc
*.sassc
capybara-*.html
pickle-email-*.html
rerun.txt
/.bundle
/config/application.yml
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
