%h1 Listing people
%table
  %tr
    %th Name
    %th Company
    %th Position
    %th
  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.company
      %td= person.position
      %td= link_to 'Show', person
