.wide_bg.main_img_container
  .wrapper.main_event_container.topper
    .event_month_title
      %h1
        %span Jobs
    %a.btn.red_btn.join_btn{href: new_job_path}
      Post a Job

.wide_bg.dark_bg
  .wrapper
    .details_section
      %h4
        %span Full Stack: North County Jobs
      %p Looking for a Job? Need a developer or designer? Live in the San Diego greater area? Then you've come to the right place Full Stack: North County is a once monthly meetup group for Web Designers and Web Developers.

      %table.jobs
        - @jobs.each do |job|
          %tr
            %td.title
              %h3= link_to job.title, job_path(job)
              %span
                =link_to job.company, "http://#{job.url}"
                &nbsp;-&nbsp;
                = job.position_type
            %td
              %p= time_ago_in_words(job.created_at)
