<div class="row">
  <div class="col-sm-12">
    <section>
      <div class="row">
        <h5 class="event-heading">Next Event</h5>
        <%= render @page.next_event %>
      </div>
    </section>

    <section>
      <div class="row">
        <h5 class="event-heading">Recent Events</h5>
        <ul class="events list">
          <%= render partial: 'events/item', collection: @page.past_events %>
        </ul>
        <a style="float: right" href="http://www.meetup.com/Full-Stack-North-County/">More events</a>
      </div>
    </section>

    <section>
      <div class="row">
        <h5 class="event-heading">Meetup Details</h5>
        <div class="details-section">
          <div class="col-sm-4">
            <p>We meet on the second Thursday of every month at 7:00 PM. Drinks and snacks are provided!</p>
            <p>After the talks, you're welcome to make use of our desk space and team rooms while you're here, so feel free to bring a project to hack.</p>
            <p>The monthly meetup is held at the Planning Center Online offices:</p>
            <address class="col-sm-offset-1">
              <h5 class="mb0">Planning Center Online</h5>
              2790 Gateway Road<br />
              Carlsbad, CA 92009
            </address>
          </div>
          <div class="col-sm-8">
            <div class="embed-responsive embed-responsive-map">
              <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.262944087737!2d-117.24692200000005!3d33.128456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc74bf20ebfbf9%3A0x692a343a8ecce621!2s2790+Gateway+Rd%2C+Carlsbad%2C+CA+92009!5e0!3m2!1sen!2sus!4v1423853026783"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
