<div class="row">
  <div class="col-sm-12">
    <section>
      <h5 class="event-heading">Next Event</h5>
      <%= render @page.next_event %>
    </section>

    <section>
      <h5 class="event-heading">Recent Events</h5>
      <ul class="events list">
        <%= render partial: 'events/item', collection: @page.past_events %>
      </ul>
      <a style="float: right" href="http://www.meetup.com/Full-Stack-North-County/">More events</a>
    </section>
  </div>
</div>
