-if @event.present?
  = render 'pages/index/event'
-else
  = render 'pages/index/no_events'
.wide_bg.dark_bg
  .wrapper
    .details_section
      .icon.icon-gear_icon
      %h4
        %span
          What is full stack
      %p
        !=@group.description
    .details_section
      .icon.icon-beer_icon
      %h4
        %span
          Drinks and snacks are provided
      %p
        Come with a thirst for knowledge and for some good ol’ craft beer!
.wide_bg.light_gray_bg
  .wrapper
    .details_section
      %h4
        %span
          Interested in Speaking at Full Stack
      %p
        TBD
      =mail_to 'talk@fullstacktalks.com', %Q[I'm Interested], :subject => %Q[I'm Interested in Speaking at Full Stack] , :class => 'btn red_btn speaker_interest_btn', :target => '_blank'
    .details_section
      %h4
        %span
          Sponsored By
      .sponsor_icons
        %a{href: 'http://get.planningcenteronline.com/', target: '_blank'}
          .icon.icon-pco_logo