<div class="container">
  <div class="row">
    <section class="col-xs-7">
      <h2>Previous Events</h2>
      <ul>
        <%= render partial: 'events/item', collection: @page.past_events %>
      </ul>
    </section>

    <section class="col-xs-5">
      <h2>Next Event</h2>
      <%= render @page.next_event %>

      <h2>About Full Stack</h2>
      <div>
        Group Descript
      </div>
    </section>
  </div>
</div>
