<div class="container">
  <div class="row">
    <section class="col-xs-7">
      <h2>Previous Events</h2>
      <ul>
        <li>Event</li>
      </ul>
    </section>

    <section class="col-xs-5">
      <h2>Next Event</h2>
      <div>
        Event Descript
      </div>

      <h2>About Full Stack</h2>
      <div>
        Group Descript
      </div>
    </section>
  </div>
</div>
