.wide_bg.main_img_container
  .wrapper.main_event_container
    .event_month_title
      %h1
        %span April
    .event_date
      %h2
        Thursday 25, 2013
    / .speakers_container
    /   .speaker.speaker_1
    /     .speaker_pic_container
    /       %img{:src => "/assets/zack_face.jpg"}/
    /       .speaker_name Zack Hubert
    /     .speaker_topic
    /       Batman JS
    /     %p.topic_details
    /       Bacon ipsum dolor sit amet chuck jowl ground round meatball capicola sirloin biltong filet mignon.
    %a.btn.red_btn.join_btn
      Join This Talk
.wide_bg.gray_bg
  .wrapper.main_event_container
    .two_column
      / .column.column_1
      /   %h3
      /     What
      /   %p
      /     This meet ups topics will consist of Batman JS, and awesomeness of lliving.
      .column.column_1
        %h3
          Where
        %p
          Planning Center Offices
          %br
          2790 Gateway Rd.
          %br
          Carlsbad CA, 92009
      .column.column_2
        %h3
          When
        %p
          7:00pm - 10:00pm
.wide_bg.dark_bg
  .wrapper
    .details_section
      .icon.icon-gear_icon
      %h4
        %span
          What is full stack
      %p
        Full Stack: North County is an event where web designers and developers can come together to learn from and teach each other about emerging technologies. While speakers at Full Stack focuss primarily on Ruby, JavaScript, HTML, and CSS, we encourage all local web professionals to join us for vivid discussions around technology across the stack in any language.
    .details_section
      .icon.icon-beer_icon
      %h4
        %span
          Drinks and snacks are provided
      %p
        Come with a thirst for knowledge and for some good ol’ craft beer!
.wide_bg.light_gray_bg
  .wrapper
    .details_section
      %h4
        %span
          Interested in Speaking at Full Stack
      %p
        Bacon ipsum dolor sit amet hamburger bacon frankfurter fatback venison, strip steak pork loin spare ribs beef drumstick cow jowl. Turducken ball tip spare ribs, turkey frankfurter prosciutto bresaola chuck rump ribeye tail. Cow prosciutto meatloaf ribeye ham hock capicola.
      %a.btn.red_btn.speaker_interest_btn I'm Interested
    .details_section
      %h4
        %span
          Sponsored By
      .sponsor_icons
        .icon.icon-pco_logo
