.wide_bg.main_img_container
  .wrapper.main_event_container
    .event_month_title
      %h1
        %span= l Time.now, format: :month
    .event_topic_container
      %p.topic_details No upcoming events, check back later for updates.
    %a.btn.red_btn.join_btn{href: 'http://www.meetup.com/Full-Stack-North-County/', target: '_blank'}
      Join This Meetup