
* h1,h2,h3,h4,h5,h6
  margin: 0px
  padding: 0px

body
  font-family: 'Lato', sans-serif
  color: #696c6f
  @extend %light_gray_bg

.cap-it
  text-transform: uppercase
.center-it
  text-align: center

.sub_event_header
  letter-spacing: 0px
  font-size: 30px
  font-weight: bold

.container
  width: 100%
.wrapper
  max-width: 960px
  margin: 0 auto
  position: relative
  .three_column,
  .two_column
    overflow: auto
    min-height: 237px
    .column
      float: left
      width: 33.33%
      margin-top: 65px
  .two_column
    .column
      width: 50%

header
  background-color: rgba(38,40,43,0.9)
  color: #fff
  border-bottom: 1px solid #020202
  height: 81px
  .fullstack_logo
    display: inline-block
  ul.main_nav
    position: absolute
    right: 17px
    top: 19px
    li
      @extend %basic_nav_styles
      font-size: 16px
      a
        padding: 8px 17px
      a:hover
        background-color: rgba(0,0,0,0.2)
        +border-radius(30px)
        text-decoration: none
        color: #fff

.wide_bg
  border-bottom: 1px solid #000
.wide_bg.gray_bg
  background-color: #2f3134
.wide_bg.dark_bg
  background-color: rgba(26,28,32,0.88)

.main_img_container
  background: #cbc8b8 url('/assets/main_img.png') no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%

.main_event_container
  text-align: center
  padding: 40px 0px
  .speakers_container, .event_topic_container
    margin-top: 40px

  .speakers_container
    .speaker
      display: inline-block
      width: 49%
      text-align: center
      .speaker_pic_container
        position: relative
        width: 201px
        margin: 0 auto

.event_topic_container
  .open_mic_image
    margin: 85px auto 20px auto
    display: block

.jobs
  width: 580px
  margin: 0 auto
  tr
    display: block
    border-bottom: rgba(0,0,0,0.5) solid 1px
    +box-shadow(0px 1px 0px rgba(255,255,255,0.2))
  .title
    width: 300px
.new_job
  margin: 25px 0 0 0
  input[type="text"]
    font-family: "Lato", sans-serif
  .join_btn
    margin: 0

  .new_job_left
    float: left
    margin-right: 40px
  .new_job_right
    float: left
    input[type="file"]
      line-height: 7px
    input[type="text"]
      width: 302px
  #job_title
    float: left
    margin-right: 20px
    width: 350px

  #job_description
    clear: both
    width: 590px
    height: 350px

footer
  background-color: #333538
  border-top: solid 1px #000
  height: 85px
  .wrapper
    position: relative
    ul.footer_nav
      position: absolute
      top: 32px
      left: 10px
    .copyright_info
      position: absolute
      right: 10px
      top: 33px
