* h1,h2,h3,h4,h5,h6
  margin: 0px
  padding: 0px

body
  font-family: 'Lato', sans-serif

.container
  max-width: 800px
  margin: 0 auto

.page-header
  margin-top: 0

  span
    display: none

.page-header, .page-footer
  text-align: center

.page-header
  padding-bottom: 9px
  margin: 20px 0 40px
  border-bottom: 1px solid #eeeeee

.page-footer
  padding-top: 9px
  margin: 40px 0 20px
  border-top: 1px solid #eeeeee

.logo, .copyright
  background: #fff
  position: relative
  margin: 0 auto

.logo
  width: 240px
  text-align: center
  top: 30px

  .icon
    display: inline-block

.copyright
  padding: 0 20px
  width: 190px
  top: -20px


