h1,h2,h3,h4,h5,h6
  color: #fff
  text-transform: uppercase
  letter-spacing: 3px
  font-weight: normal

h3
  font-size: 20px
h4
  font-size: 18px

.three_column
  .column
    h3
      border-bottom: solid 2px #fff
      margin: 0px 40px
      text-align: center
    p
      text-align: center
      padding: 11px 60px
footer
  color: #fff
  ul.footer_nav
    li
      display: inline-block
      list-style: none
      a
        color: #fff