h1,h2,h3,h4,h5,h6
  color: #fff
  @extend %uppercase_text
  letter-spacing: 3px
  font-weight: normal

h3
  font-size: 20px
h4
  font-size: 18px

a
  color: #fff
  display: inline-block
a:hover
  cursor: pointer



.tagline
  @extend %uppercase_text
  color: #d16759
  letter-spacing: 4px
  position: relative
  top: 53px
  left: 47px

.event_month_title
  h1
    text-align: center
    position: relative
    span
      @extend %uppercase_text
      @extend %button_texture
      background-color: #d16759
      border: #933a2e 1px solid
      text-shadow: 0px -1px 0px rgba(0,0,0,0.5)
      color: #fff
      font-size: 50px
      font-weight: bolder
      letter-spacing: 5px
      line-height: normal
      text-align: center
      @extend %inline-block
      padding: 5px 40px
      z-index: 2
      position: relative
    &:before
      content: ''
      position: absolute
      width: 100%
      top: 50%
      left: 0
      height: 1px
      background-color: rgba(0,0,0,0.2)
      +box-shadow(0px 1px 0px rgba(255,255,255,0.2))

.event_date
  h2
    color: #202124
    letter-spacing: 1px
    font-weight: bolder
    font-size: 21px
    text-align: center
    span
      color: #c15f52
      text-shadow: 0px 1px 0px rgba(0,0,0,0.5)


.three_column,
.two_column
  .column
    h3
      border-bottom: solid 2px #fff
      margin: 0px 40px
      text-align: center
    p
      text-align: center
      padding: 11px 60px

.dark_bg
  .details_section
    h4 span
      background-color: #292b30
.light_gray_bg
  .details_section
    h4 span
      @extend %light_gray_bg
      color: rgba(0,0,0,0.6)
      font-weight: bold
      @extend %default_white_textshadow


.details_section
  min-height: 200px
  padding: 80px 0px 0px 0px
  h4
    position: relative
    text-align: center
    span
      position: relative
      z-index: 2
      text-align: center
      @extend %inline-block
      padding: 0px 21px
    &:before
      content: ''
      position: absolute
      width: 100%
      top: 50%
      left: 0
      height: 1px
      background-color: rgba(0,0,0,0.5)
      +box-shadow(0px 1px 0px rgba(255,255,255,0.2))
  p
    color: #696c6f
    font-size: 16px
    text-align: center
    padding: 22px 88px

.speaker_topic
  color: #202124
  font-size: 24px
  font-weight: bold
  padding: 13px 0px 0px 0px

.speaker_pic_container
  .speaker_name
    color: #fff
    background-color: #d16759!important
    @extend %button_texture
    border: #933a2e 1px solid
    padding: 5px 15px
    font-size: 20px
.speaker
  p.topic_details
    color: #202124
    font-size: 17px
    max-width: 264px
    margin: 0 auto
    padding: 10px 0px

footer
  color: #fff
  ul.footer_nav
    li
      display: inline-block
      list-style: none
      @extend %uppercase_text
      @extend %basic_nav_styles
      border-right: 1px solid #fff
      a
        color: #fff
        padding: 5px 12px
    li:last-child
      border: none