@import "_variables";

.pages-header {
  height: 75px;
  background: white;
}

.pages-body { }

.pages-footer { color: #aaa; }

// details-section
.details-section {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 1px;
  padding: 16px;
  background: white;
}

.embed-responsive {
  &.embed-responsive-map {
    padding-bottom: 40%;
  }
}


// link

.link--bare {
  &:hover {
    text-decoration: none;
  }
}


// list

.list {
  padding-left: 0;
}

.list-item {
  list-style-type: none;
}


// events

.event-heading {
  text-transform: uppercase;
  color: #aaa;
  font-weight: bold;
}

.event { }

.events { }

._event {
  position: relative;
  margin-bottom: 1px;
  padding: 16px;
  background: white;

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;

  &:first-child {
    border-top-width: 0;
  }

  &:hover {
    box-shadow: 0 0 5px #d3d3d3;
    z-index: 1000;
  }
}

._event--upcoming {
  &::before {
    position: absolute;
      left: 0;
      top: 0;
    height: 100%;
    width: 3px;
    background: #ffdfd4;
    content: '';
  }
}

// utility classes
.mb0 {
  margin-bottom: 0px !important;
}
