<!DOCTYPE html>
<html lang="en">
<head>
  <title>Full Stack Talks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="l-application">
  <header class="pages-header">
    <div class="container">
      <h2>
        <i class="icon-full_stack_icon l-header-icon"></i>
        <i class="icon-full_stack_logo l-header-logo"></i>
      </h2>
    </div>
  </header>

  <div class="pages-body">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <footer class="pages-footer">
    <div class="container">
      <div>
        Sponsered by <a href="http://get.planningcenteronline.com/"><i class="icon-pco_logo"></i></a>
      </div>
      <div>
        2013 &copy; Full Stack North County
      </div>
    </div>
  </footer>
</body>
</html>
